.bg-black {
    background-color: black;
}

.container3 {
    padding-top: 90px;
    width: 66%;
    margin: 0 auto;
    color: white;
    padding-bottom: 140px;
}

.yellow {
    color: #fcdb00;
}

.texto p {
    color: #898989;
}

.formulario {
    text-align: center;
    margin-top: 40px;
}

#nombre {
    font-size: 16px;
    padding: 17px;
    width: 60%;
    margin-right: 20px;
    border-radius: 5px;
    border: 0px;
}

.send {
    font-size: 16px;
    padding: 18px;
    width: 13%;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fcdb00;
    border: 0px;
}

.redes ul li {
    list-style: none;
    float: left;
}

.redes ul {
    margin-top: 80px;
    padding-left: 340px;
}

.redes li + li {
    margin-left: 40px;
}

.lista3 ul li {
    list-style: none;
    float: left;
}

.lista3 li + li {
    margin-left: 100px;
}

.lista3 ul {
    margin-top: 133px;
    
}