.bg-white {
    background-color: white;
}

.texto {
    text-align: center;
}

.container2 {
    padding-top: 108px;
    width: 66%;
    margin: 0 auto;
    padding-bottom: 165px;
}

.lista ul li {
    list-style: none;
    float: left;
}

.lista {
    margin-top: 92px;
}

.lista li + li {
    margin-left: 20px;
}

.icono {
    margin-top: 20px;
}

.lista2 {
    margin-top: 83px;
}